html {
  height: 100%;
  background-color: #6ddeec;
}

body {
  width: 100%;

}

header {
  background-color: blue;
  color: white;
  padding: 5px;
  display: block;
  width: 100%auto;
  text-align: center;
  font-size: 20px;
}
nav {
  display: inline-block;
  width: 125px;
  height: 600px;
  background-color: #f3f3f7;
  float: left;
}

nav ul{
  list-style-type: none;
}
img{
  width: 200px;
  margin: 20px;
  padding-left: 50px;
}

footer{
  width: 100% auto;
  height: 50px;
  background-color: blue;
  color: white;
  display: block;
  text-align: center;
  margin: 10px;
}
section{
  width: 640px;
  height: 600px;
  display: inline-block;
  padding: 10px;
}

.kids {
  width: 500px;
}
p{
  font-size: 12;
  font-family: sans-serif;
  vertical-align: middle;
  text-align: center;

}
#lc{
  width: 100px;

}
#rc{
  width: 100px;

}
